/* reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/* fonts */
body{font:14px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:1.5em;}

h3 {font-size: 130%;font-weight: bold;padding-top: 20px;}

body{background-color:#1e1d1d;heitgh:100%;width:100%;color:#EAF2D9}
.container{margin:0 auto;text-align:center;width:1170px;}
.container:before{display:table;}
.container:after{clear:both;display:table;}
.header{background-color:#F4EBD2;box-shadow:0 0 15px 0 black;-moz-box-shadow:0 0 15px 0 black;-webkit-box-shadow:0 0 15px 0 black;position:fixed;left:0;z-index:10;width:100%;display:block;}
.header .knp_logo{float:left;display:block;}
.header .navbar{float:right;}
.header .navbar li{float:left;position:relative;margin:19px 0 0 0;background-color:#A33D29;}
.header .navbar li:first-child a:hover,
.header .navbar li:first-child li:hover a,
.header .navbar li:first-child{border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;}
.header .navbar li:last-child a:hover,
.header .navbar li:last-child li:hover a,
.header .navbar li:last-child{border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;}
.header .navbar li a{display:block;padding:7px 20px;color:#F4EBD2;font-weight:bold;text-decoration:none;font-size:14px;}
.header .navbar ul li:hover a,
.header .navbar li a:hover{background-color:#b56454;}
.header .navbar ul li ul{position:absolute;top:-5000px;left:-5000px;background-color:#A33D29;text-align:left;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
    opacity: 0;
    -webkit-transition: opacity .50s ease .1s;
    -moz-transition: opacity .50s ease .1s;
    -o-transition: opacity .50s ease .1s;
    -ms-transition: opacity .50s ease .1s;
    transition: opacity .50s ease .1s;
}
.header .navbar ul li:hover ul{display:block;opacity: 1;top:30px;left:0;box-shadow:-2px 10px 15px -4px black;-moz-box-shadow:-2px 10px 15px -4px black;-webkit-box-shadow:-2px 10px 15px -4px black;}
.header .navbar ul li:hover ul li{background-color:transparent;}
.header .navbar ul li:hover ul a{background-color:#A33D29;}
.header .navbar ul li ul li{margin:0;}
.header .navbar ul li ul li:first-child a,
.header .navbar ul li ul li:first-child a:hover{border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;}
.header .navbar ul li ul li:last-child a,
.header .navbar ul li ul li:last-child a:hover{border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;}
.header .navbar ul li ul a{width:180px;padding:7px 10px;}
.header .navbar ul li:hover ul a:hover{background-color:#b56454;}

/* SIDEMENU */
.sideMenu{position:fixed;top:30%;right:-55px;z-index:2;width:45px;box-shadow: 0 0 16px -3px #000000;-moz-box-shadow: 0 0 16px -3px #000000;-webkit-box-shadow: 0 0 16px -3px #000000;}
.sideMenu.visible{
    right:0;
    -webkit-transition:right 1s ease;
       -moz-transition:right 1s ease;
         -o-transition:right 1s ease;
            transition:right 1s ease;
}
.sideMenu ul{padding:5px 2px 5px 18px;background:none repeat scroll 0 0 rgba(255, 255, 255, 0.4);}
.sideMenu li{margin:5px 0;}
.sideMenu li a{background:none repeat scroll 0 0 rgba(255, 255, 255, 0.6);display:block;height:10px;width:10px;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;border-bottom:none;}
.sideMenu li a span{width:12px;height:12px;margin-left:30px;display:block;background-color:#B94A48;height:10px;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;}
.sideMenu li a:hover{opacity:1;}
.sideMenu li a:hover span{
    margin-left:0;
    -webkit-transition:margin-left 0.3s linear;
       -moz-transition:margin-left 0.3s linear;
         -o-transition:margin-left 0.3s linear;
            transition:margin-left 0.3s linear;
}
.sideMenu li a:active span,
.sideMenu li a.active span{margin-left:0;}
.sideMenu .bgOrange span{background-color:#FFA93C;}
.sideMenu .bgBlue span{background-color:#057C8A;}
.sideMenu .bgGreen span{background-color:#61A278;}


.twitter{cursor:pointer;background:url(../images/twitter.png) no-repeat -15px -22px;text-indent:-5000px;
    -webkit-transition:all 0.3s ease-in;
       -moz-transition:all 0.3s ease-in;
         -o-transition:all 0.3s ease-in;
            transition:all 0.3s ease-in;
}
.twitter:hover{
    background-position:-15px -74px;
    -webkit-transition:all 0.3s ease-in;
       -moz-transition:all 0.3s ease-in;
         -o-transition:all 0.3s ease-in;
            transition:all 0.3s ease-in;
    opacity: 0.8;
}
.twitter a{display:block;padding:12px 10px;}
.content{overflow:hidden;position:relative;text-align:left;}
.content .container{background-color:#302D2C;box-shadow:0 5px 5px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 5px 5px rgba(0, 0, 0, 0.4);text-align:left;padding:0 40px 40px 40px;}

/* HELPERS */
a{color:#669199;}
.anchor{display:block;height:70px;}
h2{font-size:28px;font-weight:bold;color:#4f4c4b;margin:0 0 10px 0;}
p{margin-bottom:10px;}
pre{padding:20px;margin:0 30px 0 0;display:block;overflow-y:auto;}
code{text-align:left;font-size:14px;display:block;}
.rad{background:url(../images/rad.png) no-repeat 495px 13px;}
.rad pre {background-color: rgba(0, 255, 0, 0.1);}
.standard{background:url(../images/standard.png) no-repeat 482px 13px;}
.standard pre {background-color: rgba(255, 0, 0, 0.1);}
.wiki{background:url(../images/wiki.png) no-repeat left center;display:block;height:23px;padding:6px 0 0 53px;margin-left:-45px;text-decoration:none;}
.wiki:hover{text-decoration:underline;}
.broughToYou{padding:0 40px 0;text-align:right;}

pre{background-color:#222222;}
.bgRed{background-color:#B94A48;border-bottom:3px solid #F4EBD2;}
.bgRed h2,
.bgRed a{color:#B94A48;}
.bgRed .wiki{background-position:left 2px;}
.bgOrange{background-color:#FFA93C;border-bottom:3px solid #F4EBD2;}
.bgOrange h2,
.bgOrange a{color:#FFA93C;}
.bgOrange .wiki{background-position:left -78px;}
.bgBlue{background-color:#057C8A;border-bottom:3px solid #F4EBD2;}
.bgBlue h2,
.bgBlue a{color:#057C8A;}
.bgBlue .wiki{background-position:left -23px;}
.bgGreen{background-color:#61A278;border-bottom:3px solid #F4EBD2;}
.bgGreen h2,
.bgGreen a{color:#61A278;}
.bgGreen .wiki{background-position:left -51px;}

.footer {font-size: 12px;}

/* GRIDS */
.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}

.scrollToTop{background:url(../images/toTop.png) no-repeat 0 0;display:none;height:50px;width:50px;text-indent:-5000px;opacity:0.5;position:fixed;right:0;bottom:0;}
.scrollToTop:hover{opacity:0.7;}

.footer li {
    padding: 10px 5px;
}

#contributors li {
    display: inline;
}

li img {
    -moz-box-shadow: 0px 1px 8px #000;
    -webkit-box-shadow: 0px 1px 8px #000;
    box-shadow: 0px 1px 8px #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#contributors img {
    width: 62px;
    height: 62px;
    margin: 5px;
}

#tweets li {
    overflow: auto;
}

#tweets img {
    width: 38px;
    height: 38px;
    margin: 0 10px;
    float: left;
}

time {
    color: #aaaaaa;
    font-size: 0.9em;
}


/* Tiny Scrollbar */
.nano { width: 520px; margin: 20px 0 10px; }
.nano .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
.nano .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.nano .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.nano .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.nano .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.nano .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.nano .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


@media (max-width: 1420px) {
    .header .knp_logo{margin-left:100px;}
}
@media (max-width: 1300px) {
    .header .navbar ul li:hover ul{left:auto;right:0;}
}
@media (max-width: 1100px) {
    .unit{float:none;}
    .size1of2{width:100%;}
    .rad{background-position: 100% 13px;}
    .standard{background-position: 102% 13px;}
}
@media (min-width: 940px) and (max-width: 1180px) {
    .container{width:960px;}
    .content .container{padding:0 0 40px 10px;}
}
@media (max-width: 939px){
    .content .container{padding:0 20px 40px;}
    .rad pre,
    .standard pre{padding:40px 20px 20px 20px;}
}
@media (max-width: 750px) {
    body{padding:0 !important;}
    .header .knp_logo{float:right;}
    .sideMenu{display:none;}
}
@media (max-width: 480px) {
    .anchor{height:140px;}
    .forkGithub{display:none;}
    .broughToYou{padding-bottom:20px;}
}
