<div class="content bg{{ color | capitalize }}">
    <div class="container footer">
        <div class="size1of2 unit">
            <h3>See also</h3>
            <ul>
                <li><a href="http://www.github.com/KnpLabs/KnpRadBundle">Github - KnpRadBundle</a></li>
                <li><a href="http://www.github.com/KnpLabs/rad-edition">Github - Symfony2 RAD Edition</a></li>
                <li><a href="http://www.knplabs.com">KnpLabs</a></li>
                <li><a href="http://www.knpbundles.com">KnpBundles</a></li>
            </ul>
        </div>
        <!-- Display the 5 last tweets with KnpRadBundle -->
        <div class="lastUnit">
            <h3>Tweets</h3>
            <div id="tweets"></div>
        </div>
    </div>
</div>
