<div class="content bg{{ color | capitalize }}">
    <div class="container footer">
        <div class="size1of2 unit">
            <h3>See also</h3>
            <ul>
                <li><a href="http://www.github.com/KnpLabs/KnpRadBundle">Github - KnpRadBundle</a></li>
                <li><a href="http://www.github.com/KnpLabs/rad-edition">Github - Symfony2 RAD Edition</a></li>
                <li><a href="http://www.knplabs.com">KnpLabs</a></li>
                <li><a href="https://packagist.org/packages/knplabs/rad-edition">Packagist</a></li>
                <li><a href="https://travis-ci.org/KnpLabs/KnpRadBundle"><img src="https://travis-ci.org/KnpLabs/KnpRadBundle.png?branch=develop" title="Travis CI" /></a></li>
                <li><a href="http://www.knpbundles.com/KnpLabs/KnpRadBundle"><img src="http://www.knpbundles.com/KnpLabs/KnpRadBundle/badge"></a></li>
            </ul>
        </div>
        <!-- Display the 5 last tweets with KnpRadBundle -->
        <div class="lastUnit">
            <h3>Tweets</h3>
            <div id="tweets"><i>Loading...</i></div>
        </div>
    </div>
</div>
