<div class="content bg{{ color | capitalize }}">
    <div class="container">
        <a href="" id="dependency-injection" name="dependency-injection" class="anchor"></a>
        <h2>Dependency Injection</h2>
        <div class="line js-scroll">
            <div class="size1of2 unit standard">
{% highlight php %}
{% include standard/dependency-injection.php %}
{% endhighlight %}
<br />
{% highlight yaml %}
{% include standard/dependency-injection.yml %}
{% endhighlight %}
            </div>
            <div class="lastUnit rad">
{% highlight yaml %}
{% include standard/dependency-injection.yml %}
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
