<div class="content bg{{ color | capitalize }}">
    <div class="container">
        <a href="" id="form-manager" name="form-manager" class="anchor"></a>
        <h2>Form Manager</h2>
        <p><a class="wiki" href="https://github.com/KnpLabs/KnpRadBundle/wiki/Form-Manager">Wiki</a></p>
        <div class="line js-scroll">
            <div class="size1of2 unit standard">
{% highlight php %}
{% include standard/form-manager.php %}
{% endhighlight %}
            </div>
            <div class="lastUnit rad">
{% highlight php %}
{% include rad/form-manager.php %}
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
