<div class="content bgBlue">
    <div class="container">
        <a href="" id="form-manager" name="form-manager" class="anchor"></a>
        <h2>Form Manager</h2>
        <div class="line">
            <div class="size1of2 unit">
{% highlight php linenos %}
<?php
public function editAction()
{
    $blogPost = new BlogPost();
    $form = $this->createForm('edit_blogpost', $blogPost);

    return $this->render('MyBundle:Default:edit.html.twig', array(
        'form' => $form->createView(),
    );
}

public function updateAction(Request $request)
{
    $blogPost = new BlogPost();
    $form = $this->createForm('edit_blogpost', $blogPost);
    $form->bind($request);

    if ($form->isValid()) {
        // do some stuffs with $blogPost

        return $this->redirect($this->generateUrl('blogpost_index'));
    }

    return $this->render('MyBundle:Default:edit.html.twig', array(
        'form' => $form->createView(),
    );
}
{% endhighlight %}
            </div>
            <div class="lastUnit">
{% highlight php %}
<?php
public function editAction()
{
    $form = $this->createBoundObjectForm('edit', new BlogPost);

    return array(
        'form' => $form->createView(),
    );
}

public function updateAction()
{
    $form = $this->createBoundObjectForm('edit', new BlogPost);
    if ($form->isValid()) {
        // do some stuffs with $blogPost

        return $this->redirectToUrl('app_blogpost_index');
    }

    return array(
        'form' => $form->createView(),
    );
}
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
