<div class="content bgOrange">
    <div class="container">
        <a href="" id="installation" name=”installation” class="anchor"></a>
        <h2>Installation</h2>
        <p>We recommend to use <a href="http://www.getcomposer.org">Composer</a> in order to create a new project.</p>
        <p>Once installed, run the following commands to create a new project:</p>
{% highlight bash %}
$ composer.phar create-project -s dev --prefer-dist --dev knplabs/rad-edition my_project
$ cd my_project
{% endhighlight %}
        </div>
    </div>
</div>
