<div class="content bg{{ color | capitalize }}" id="toTop" name="toTop" >
    <div class="container">
        <a href="" id="intro" name="intro" class="anchor"></a>
        <h2>Introduction</h2>
        <div class="line">
            <div class="size1of2 unit">
                <p>The <b>Symfony2 RAD Edition</b> is based on the work of the <b>KnpRadBundle</b>.</p>
                <p>Its purpose is to provide a more opiniated edition of Symfony2 than the standard one. Basically, it accelerates some processes during your development that we think are recurrents, here at KnpLabs.</p>
                <p>We believe that these enhancements allow us to quickly prototype and deliver better tested projects.</p>
                <p>Feel free to collaborate and give us your opinion about this edition.</p>

                <h3>Many thanks to all the awesome contributors of this bundle!</h3>
                <div id="contributors"><i>Loading...</i></div>

                <h3>What happenned to the previous KnpRadBundle?</h3>
                <p>Legacy version of the <b>KnpRadBundle</b> can be found on <a href="https://github.com/KnpLabs/KnpRadBundle/tree/v1.0">Github</a> but please note that it is no longer maintained and this new version intends to replace it.</p>

                <p>Have fun!</p>
                <div class="broughToYou"><a href="http://knplabs.fr/" target="_blank"><img src="images/broughtToYou.png" alt="KnpLabs" /></a></div>
            </div>
            <div class="lastUnit">
                <iframe src="http://www.screenr.com/embed/9A07" width="585" height="396" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
