<div class="content bg{{ color | capitalize }}">
    <div class="container">
        <a href="" id="missing-template" name="missing-template" class="anchor"></a>
        <h2>Missing template creation</h2>
        <div class="line">
            <div class="size1of3 unit">
                <p>
                    You have created an action, associated a route to it, but forgotten to create the template? Don't worry, the <b>KnpRadBundle</b> will provide you with a template creation assistant form!<br />
                    Less switchs between your IDE and your browser means quicker development!
                </p>
            </div>
            <div class="lastUnit">
                <img src="images/missing_template.png" title="Missing template assistant" />
            </div>
        </div>
    </div>
</div>
