<div class="content bg{{ color | capitalize }}">
    <div class="container">
        <a href="" id="resource-resolver" name="resource-resolver" class="anchor"></a>
        <h2>Resource resolver</h2>
        <p><a class="wiki" href="https://github.com/KnpLabs/KnpRadBundle/wiki/Resource-Resolvers">Wiki</a></p>
        <div class="line js-scroll">
            <div class="size1of2 unit standard">
{% highlight php %}
{% include standard/resource-resolver.php %}
{% endhighlight %}
            </div>
            <div class="lastUnit rad">
{% highlight yaml %}
{% include rad/resource-resolver.yml %}
{% endhighlight %}
            
{% highlight php %}
{% include rad/resource-resolver.php %}
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
