<div class="content bg{{ color | capitalize }}">
    <div class="container">
        <a href="" id="routing" name="routing" class="anchor"></a>
        <h2>Routing</h2>
        <p><a class="wiki" href="https://github.com/KnpLabs/KnpRadBundle/wiki/Routing">Wiki</a></p>
        <div class="line js-scroll">
            <div class="size1of2 unit standard">
{% highlight yaml %}
{% include standard/routing.yml %}
{% endhighlight %}
            </div>
            <div class="lastUnit rad">
{% highlight yaml %}
{% include rad/routing.yml %}
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
