<div class="content bg{{ color | capitalize }}">
    <div class="container">
        <a href="" id="shortcuts" name="shortcuts" class="anchor"></a>
        <h2>Shortcuts</h2>
        <h3>Doctrine</h3>
        <div class="line js-scroll">
            <div class="size1of2 unit standard">
{% highlight php %}
{% include standard/shortcuts/doctrine.php %}
{% endhighlight %}
            </div>
            <div class="lastUnit rad">
{% highlight php %}
{% include rad/shortcuts/doctrine.php %}
{% endhighlight %}
            </div>
        </div>
        <h3>Security</h3>
        <div class="line js-scroll">
            <div class="size1of2 unit standard">
{% highlight php %}
{% include standard/shortcuts/security.php %}
{% endhighlight %}
            </div>
            <div class="lastUnit rad">
{% highlight php %}
{% include rad/shortcuts/security.php %}
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
