<div class="content bg{{ color | capitalize }}">
    <div class="container">
        <a href="" id="template" name="template" class="anchor"></a>
        <h2>Template resolution</h2>
        <div class="line js-scroll">
            <div class="size1of2 unit standard">
{% highlight php %}
{% include standard/template-resolution.php %}
{% endhighlight %}
            </div>
            <div class="lastUnit rad">
{% highlight php %}
{% include rad/template-resolution.php %}
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
