<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rapid Application Development for Symfony2</title>
    <link rel="stylesheet" href="css/knp.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="css/pygments.css" type="text/css" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38131921-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

     </script>
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="container">
                <h1><a href="#" class="knp_logo"><img src="images/knp_logo.png" alt="Knp Rad Bundle" /></a></h1>
                <div class="navbar">
                    <ul>
                        <li><a class="anchorLink" href="#intro">Introduction</a></li>
                        <li><a class="anchorLink" href="#installation">Installation</a></li>
                        <li>
                            <a class="anchorLink" href="#template">Guide</a>
                            <ul>
                                <li><a class="anchorLink" href="#template">Template resolution</a></li>
                                <li><a class="anchorLink" href="#form-manager">Form Manager</a></li>
                                <li><a class="anchorLink" href="#routing">Routing</a></li>
                                <li><a class="anchorLink" href="#resource-resolver">Resource resolver</a></li>
                                <li><a class="anchorLink" href="#dependency-injection">Dependency injection</a></li>
                                <li><a class="anchorLink" href="#auto-registration">Auto registration</a></li>
                                <li><a class="anchorLink" href="#missing-template">Missing template</a></li>
                                <li><a class="anchorLink" href="#flash">Flash message</a></li>
                                <li><a class="anchorLink" href="#mailer">Mailer</a></li>
                                <li><a class="anchorLink" href="#shortcuts">Shortcuts</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% assign color = 'red' %}    {% include introduction.html %}
        {% assign color = 'orange' %} {% include installation.html %}
        {% assign color = 'blue' %}   {% include template-resolution.html %}
        {% assign color = 'green' %}  {% include form-manager.html %}
        {% assign color = 'red' %}    {% include routing.html %}
        {% assign color = 'orange' %} {% include resource-resolver.html %}
        {% assign color = 'blue' %}   {% include dependency-injection.html %}
        {% assign color = 'green' %}  {% include auto-registration.html %}
        {% assign color = 'red' %}    {% include missing-template.html %}
        {% assign color = 'orange' %} {% include flash-message.html %}
        {% assign color = 'blue' %}   {% include mailer.html %}
        {% assign color = 'green' %}  {% include shortcuts.html %}
        {% assign color = 'red' %}    {% include credits.html %}
    </div>
    <a href="http://github.com/KnpLabs/KnpRadBundle"><img style="position: fixed; top: 0; left: 0; border: 0; z-index: 12" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
    <a class="scrollToTop anchorLink" href="#toTop">To Top</a>
    <script type="text/javascript" src="javascript/jquery.js"></script>
    <script type="text/javascript" src="javascript/jquery.anchor.js"></script>
    <script type="text/javascript" src="javascript/jquery.timeago.js"></script>
    <script type="text/javascript" src="javascript/rad.js"></script>
</body>
</html>

