<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rapid Application Development for Symfony2</title>
    <link rel="stylesheet" href="css/knp.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="css/pygments.css" type="text/css" />
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="container">
                <h1><a href="#" class="knp_logo"><img src="images/knp_logo.png" alt="Knp Rad Bundle" /></a></h1>
                <div class="navbar">
                    <ul>
                        <li><a class="anchorLink" href="#intro">Introduction</a></li>
                        <li><a class="anchorLink" href="#installation">Installation</a></li>
                        <li>
                            <a href="#">Guide</a>
                            <ul>
                                <li><a class="anchorLink" href="#template">Template resolution</a></li>
                                <li><a class="anchorLink" href="#form-manager">Form Manager</a></li>
                                <li><a class="anchorLink" href="#routing">Routing</a></li>
                                <li><a class="anchorLink" href="#resource-resolver">Resource resolver</a></li>
                                <li><a class="anchorLink" href="#dependency-injection">Dependency injection</a></li>
                                <li><a class="anchorLink" href="#auto-registration">Auto registration</a></li>
                                <li><a class="anchorLink" href="#missing-template">Missing template</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% include introduction.html %}
        {% include installation.html %}

        {% include template-resolution.html %}
        {% include form-manager.html %}
        {% include routing.html %}
        {% include resource-resolver.html %}
        {% include dependency-injection.html %}
        {% include auto-registration.html %}
        {% include missing-template.html %}

        {% include credits.html %}
    </div>
    <a href="http://github.com/KnpLabs/KnpRadBundle"><img style="position: fixed; top: 0; left: 0; border: 0; z-index: 12" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
    <a class="scrollToTop anchorLink" href="#toTop">To Top</a>
    <script type="text/javascript" src="javascript/jquery.js"></script>
    <script type="text/javascript" src="javascript/jquery.anchor.js"></script>
    <script type="text/javascript" src="javascript/rad.js"></script>
</body>
</html>

